.scrollButton__button{
    position: fixed;
    left: 92%;
    bottom: 20%;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #149ddd;
    border: none;
    background: transparent;
}

@media (max-width: 1024px){
    .scrollButton__button{
        left: 80%;
    }
}

/* @media (max-width: 480px){
    .scrollButton__button{
        bottom: 40%;
    }
} */
