.scrollButton__button{
    position: fixed;
    left: 96%;
    bottom: 2%;
    height: 50px;
    font-size: 2.5rem;
    z-index: 1;
    cursor: pointer;
    color: #149ddd;
    border: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px){
    .scrollButton__button{
        left: 80%;
        height: 60px;
    }
}
