.education{
  height: 60vh;
}

.education h1{
  margin: 40px; 
}

.education__button__wrapper{
  position: relative;
}

.slider__parent {
  width: 610px;
  position: relative;
  left: -40px;
}

.slider__child {
  width: 2440px;
}

.education__wrapper {
  width: 560px;
  text-align: center;
  background: white;
  border-radius: 20px;
  display: block;
  font-size: 15px;
  position: relative;
  left: 280px;
}

.education__hide {
  display: none;
}

.education__details {
  color: #738198;
  padding-bottom: 20px;
}

.buttons__wrapper {
  width: 540px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 180px;
  left: 290px;
  cursor: pointer;
  font-size: 25px;
  color: #404040;
  opacity: 1;
}

.next__button:hover,
.prev__button:hover {
  opacity: 0.7;
}

.education__indicator {
  width: 490px;
  text-align: center;
}

.education__indicator > li {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bbb;
  text-indent: -9999px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  list-style: none;
  line-height: 20px;
  position: relative;
  left: 270px;
}

.education__activeIndicator {
  background: #404040 !important;
  color: #bbb !important;
}

.education__indicator > li:hover {
  background: #717171;
}

.education__logo {
  width: 190px;
  height: 150px;
  padding: 20px;
}

@media (max-width: 1250px){
  .education__wrapper {
    width: 560px;
    font-size: 18px;
    left: 60px;
  }

  .buttons__wrapper {
    top: 150px;
    left: 75px;
    width: 525px;
    font-size: 20px;
  }

  .education__indicator {
    position: relative;
    width: 80px;
    left: -5px;
  }
}


@media (max-width: 768px) {
  .education{
    height: 50vh;
    margin: 4rem 0 0 0;
  }

  .education h1{
    margin: 12rem 0 0 0;
  }

  .slider__parent {
    width: 420px;
    left: -190px;
    z-index: -999;    
  }

  .slider__child {
    width: 1680px;
  }

  .education__wrapper {
    width: 440px;
    font-size: 14px;
    left: 160px;
  }

  .buttons__wrapper {
    top: 150px;
    left: 20px;
    width: 420px;
    font-size: 18px;
  }

  .education__indicator {
    position: relative;
    width: 70px;
    left: -120px;
  }

  .education__indicator > li {
    width: 12px;
    height: 12px;
  }

  .education__logo {
    width: 120px;
    height: 105px;
  }
}