.social {
  position: relative;
  margin: 0 auto;
  bottom: -40px;
  z-index: 999;
  width: 60%;
}
.social a {
  padding-right: 10px;
  font-size: 25px;
  color: rgb(163, 163, 163);
  position: relative;
  top: -10px;
  -webkit-tap-highlight-color: transparent;
}

.social a:hover {
  cursor: pointer;
  top: -5px;
  transition: 0.5s ease-out;
  color: rgb(235, 235, 235);
}
