.about{
  height: 40vh;
}

.about__lineSpace {
  line-height: 2;
}

.download {
  margin-top: 30px;
}

.download a {
  color: black;
  font-size: 15px;
}

@media (max-width: 768px){
  .about{
    height: 22vh;
  }
}