.header{
  margin-left: 320px;
}

.header > h1{
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0 40px 0;
  padding: 40px 0 20px 0;
  position: relative;
  color: #173b6c;
}

.header > h1::after{
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.about__image > img{
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  margin-right: 40px;
}

.about__content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about__lineSpace {
  line-height: 1.5;
  width: 70%;
  margin-right: 30px;
}

.about__resume__download{
  width: 180px;
  text-align: center;
  margin: 40px auto;
}

.about__resume__download > a {
  text-decoration: none;
  color: white;
  background-color: #696969;
  padding: 10px;
  border-radius: 8px;
}

.about__resume__download > a:hover{
  cursor: pointer;
  background-color: #404040;
  transition: 0.2s ease;
}

@media (max-width:1024px){
  .header{
    margin: 0 90px; 
  }

  .about__content{
    flex-direction: column;
  }

  .about__image > img{
    margin-bottom: 20px;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    margin-right: 0;
  }

  .about__lineSpace{
    margin-right: 0;
  }
}

@media (max-width: 796px){
  .header{
    margin: 0 12px;
  }
}