.button-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 21px;
  width: 20px;
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.button-toggle:focus {
  outline: none;
}

.button-toggle__line {
  width: 20px;
  height: 1.5px;
  background-color: white;
}
