#home{
  /* background: url(../../assets/profile/kamal.png); */
  background-color: #149ddd;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center center; 
}

.home__container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__container > h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.home__container > p {
  margin-bottom: 50px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}