.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-left: 350px;
}

/* .header h1{
  text-align: center;
  margin: 0;
  padding: 0;
}

.home__image {
  width: 200px;
  border-radius: 50%;
  margin: 20px;
} */

.home{
  height: 100vh;
}

/* .typingeffect {
    font-size: 1.2rem;
    margin-bottom: 30px;
  } */

@media (max-width: 768px) {
  .header {
    padding: 20px;
    margin-left: 0;
  }

  .home__image {
    width: 185px;
  }
}
