.contact__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.contact__details{
  box-sizing: border-box;
  background-color: #fff;
  width: 65%;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
  margin-right: 25px;
  padding: 52px 30px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.contact__details h4{
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact__details p{
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact__details i{
  font-size: 20px;
  color: #149ddd;
  outline: transparent;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.contact__form {
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 80px;
}

.contact__label {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}

.required {
  color: gray;
}

.contact__input {
  padding: 10px 15px;
  color: #000;
  margin-bottom: 18px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 14px;
  width: 100%;
}

.contact__textarea {
  resize: none;
}

.contact__button {
  background-color: #404040;
  padding: 14px 22px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  border: none;
}

.message{
  margin: 20px 0 20px 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.message .form__success{
  font-size: 20px;
  color: green;
  position: absolute;
  display: none;
}

.message .form__danger{
  font-size: 20px;
  color: red;
  position: absolute;
  display: none;
}

@media screen and (max-width: 860px){
  .contact__wrapper{
    flex-direction: column;
  }

  .contact__details{
    margin-bottom: 30px;
    width: 100%; 
  }

  .contact__form{
    width: 100%;
  }

  .contact__input{
    font-size: 16px;
  }
}

@media (hover: hover){
  .contact__details__address:hover .contact__details__address__icon{
    color: #fff;
    background-color: #149ddd;
    transition: all 0.5s ease-in-out;
  }
  
  .contact__details__email:hover .contact__details__email__icon{
    color: #fff;
    background-color: #149ddd;
    transition: all 0.5s ease-in-out;
  }
  
  .contact__details__phone:hover .contact__details__phone__icon{
    color: #fff;
    background-color: #149ddd;
    transition: all 0.3s ease-in-out;
  }

  .contact__button:hover {
    cursor: pointer;
    background-color: #5f5f5f;
    transition: all 0.3s ease-in;
  }
}